:root {
  /*основной цвет*/
  --bgc-primary: #ffffff;
  /*второстепенный цвет*/
  --bgc-seccondary: #f5f4fa;
  /*цвет фона секции героя*/
  --bgc-hero: #2f303a;
  /*цвет фона футера*/
  --bgc-footer: #2f303a;
  /*цвет фона кнопки героя акцент*/
  --bgc-button-accent: #2196f3;
  /*основной цвет текста*/
  --text-color-primary: #212121;
  /*второстепенный цвет текста*/
  --text-color-seccondary: #757575;
  /*акцентированный цвет текста*/
  --text-color-accent: #2196f3;
  /*контрастный цвет текста кнопки*/
  --text-color-button-accent: #ffffff;
  /*контрастный цвет текста героя*/
  --text-color-hero: #ffffff;
  /*контрастный цвет текста футера*/
  --text-color-footer: #ffffff;
  /*цвет текста адреса футера*/
  --text-color-futer-adr: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", "Open+Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-primary);
}

/*Стили шапки*/
.header-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color-primary);
}
.header-style li {
  display: block;
}
.navigations-style a:link,
.navigations-style a:visited {
  color: var(--text-color-primary);
  text-decoration: none;
}
.contacts-style a:link,
.contacts-style a:visited {
  color: var(--text-color-seccondary);
  text-decoration: none;
}
.navigations-style a:hover,
.navigations-style a:focus,
.contacts-style a:hover,
.contacts-style a:focus {
  color: var(--text-color-accent);
}

/*стиль логотипа цвета задаются без переменных*/
.logo-style {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}
.logo-style span {
  color: #000000;
}

/*Стили основного контента index.html*/
/*стили героя*/
.hero-style {
  background-color: var(--bgc-hero);
}
.hero-style H1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--text-color-hero);
}
.hero-style button {
  cursor: pointer;

  background-color: var(--bgc-seccondary);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-primary);
}

.hero-style button:hover,
.hero-style button:focus {
  background-color: var(--bgc-button-accent);
  color: var(--text-color-button-accent);
}

/*стили секции особенностей*/
.features h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-color-primary);
}
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.features p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-seccondary);
}
.features li {
  display: block;
}
/*Стили секции виды деятельности*/
.activities h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-color-primary);
}
.activities li {
  display: block;
}
/*Стили секции нашей команды*/
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-color-primary);
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color-primary);
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color-seccondary);
}
.team li {
  display: block;
}

/*Стили основного контента portfolio.html*/

.portfolio-style-list li {
  display: block;
}
.portfolio-style-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--text-color-primary);
}
.portfolio-style-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-seccondary);
}
.portfolio-style-list button {
  cursor: pointer;

  background-color: var(--bgc-seccondary);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-color-primary);
}

.portfolio-style-list button:hover,
.portfolio-style-list button:focus {
  background-color: var(--bgc-button-accent);
  color: var(--text-color-button-accent);
}

/*Стили подвала*/
.footer-style {
  background-color: var(--bgc-footer);
  display: block;
}
.footer-style li {
  display: block;
}
.adress-style {
  font-size: 14px;
}
.adress-style a {
  color: var(--text-color-futer-adr);
}
.adress-style a:link,
.adress-style a:visited {
  text-decoration: none;
}
.adress-style a:hover,
.adress-style a:focus {
  color: var(--text-color-accent);
  text-decoration: none;
}
.footer-style p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-footer);
}
.footer-style span {
  color: var(--text-color-footer);
}
